NODE_ENV=development
DB_NAME=nomba_db
DB_PASSWORD=password
DB_USER=postgres
DB_PORT=5432
APP_NAME=nomba-be
PORT=9999
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}"
ENCRYPTION_KEY="supersecretencryptionkey12345678"
NOMBA_WEBHOOK_SECRET="NombaHackathon2026"
REDIS_URL="redis://127.0.0.1:6379"
JWT_SECRET="supersecretjwtkey12345"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=your_gmail_app_password_here
SMTP_FROM=
BREVO_API_KEY=your_brevo_api_key_here
WEBHOOK_URL=https://jackwalletprimitive.onrender.com/api/v1/webhook/nomba
