NODE_ENV=development
DB_NAME=nomba_db
DB_PASSWORD=password
DB_USER=postgres
DB_PORT=5432
APP_NAME=nomba-be
PORT=9999
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}"
ENCRYPTION_KEY="supersecretencryptionkey12345678"
NOMBA_WEBHOOK_SECRET="NombaHackathon2026"
REDIS_URL="redis://127.0.0.1:6379"
JWT_SECRET="supersecretjwtkey12345"
RESEND_API_KEY="re_xxxxxxxxxxxxxx"
SMTP_FROM="onboarding@resend.dev"


