NODE_ENV=development
DB_NAME=nomba_db
DB_PASSWORD=password
DB_USER=postgres
DB_PORT=5432
APP_NAME=nomba-be
PORT=9999
REDIS_PORT=6379
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}"
NOMBA_WEBHOOK_URL="http://localhost:9999/webhooks/nomba"
ENCRYPTION_KEY="supersecretencryptionkey12345678"
